/* --- GENERAL --- */
* {
     box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */ 
}

html { 
     scroll-behavior: smooth;  /* smooth scrolling */
}

body {
     margin: 0; /* Site displays all the way to the edge of the browser screen */
}

q {
     font-style: italic;  /* Makes the quote italicized */
}

h1,
h2 {
     text-transform: uppercase;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
     margin-top: 3%;
     padding: 20px;
     display: block;
     margin-bottom: 0px;
}




p {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: justify;
     letter-spacing: 1px;
     font-size: 20px;
     padding-left: 10%;
     padding-right: 10%;
     margin-top: 0px;


}



.scale-grey:hover {
     filter: grayscale(0%);
     transform: scale(1.1);
     transition: transform 1s;
}

.center {
     display: flex;
     justify-content: center;
     align-items: center;
}

#home {
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     width: 100%;
     padding: 20px;
     position: relative;
     animation: yourAnimation 5s ease 0s normal none;
}


@keyframes yourAnimation {
     0.0% {
          transform: rotate(-360deg) scale(0.03);
     }

     100% {
          transform: rotate(360deg) scale(1.0);
     }
}



/* --- HEADER VIDEO --- */
/* Background Video */
#Typing_Video {
     min-width: 100%;
     position: fixed;
     z-index: -1;
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
     #Typing_Video {
          display: none;
     }

     /* change background color, to keep slideshow dots visible */
     body {
           background-color: rgba(0, 0, 0, .35);
     }
}



/* --- BODY --- */

.col-1 {
     float: left;
     width: 50%;
     padding: 10px;
     /* padding-top: 1.9%; */
     height: 400px;
     background-color: #f2f2f2;
}

.col-2 {
     float: left;
     width: 50%;
     padding: 10px;
     /* padding-top: 3%; */
     height: 400px;
     background-color: #4d4d4d;
     position: relative;
}

.row::after {
     content: "";
     display: table;
     clear: both;
}

img {
     filter: grayscale(87%);
     border-radius: 8px;
     max-width: 90%;
     max-height: 90%;
     height: 340px;
}

/* CONTACT FORM */

/* input[type=text] targets all text input sections of the contact form */
input[type=text] {
     width: 100%;
     /* Each input box covers the full width of the container */
     padding: 12px;
     /* Adds padding within the text box */
     border: 1px solid #ccc;
     /* Setting a solid border and its color */
     border-radius: 4px;
     /* Slightly rounds the corners of the text box border */
     box-sizing: border-box;
     /* This creates a box with a border around the contact form input boxes */
     margin-top: 6px;
     /* Adds a margin to the top of the text box */
     margin-bottom: 16px;
     /* Adds a margin to the bottom of the text box */
     resize: vertical;
     /* This allows the user to resize the text boxes vertically */
     font-family: Perpetua, Rockwell Extra Bold;     
}

/* Submit button */
input[type=submit] {
     background-color: black;
     /* Sets the background color of the submit button to black */
     color: white;
     /* Sets the font color of the Submit button to white */
     font-weight: bold;
     /* Makes the font of the submit button bold */
     padding: 12px 20px;
     /* Adds padding to the submit button */
     border: none;
     /* Removes the border from the submit button */
     border-radius: 4px;
     /* Gives the submit button the same rounded corners as the text boxes */
     cursor: pointer;
     /* Changes the cursor to pointer when over the submit button */
     display: inline-block;
     /* Allows the submit button to be centered */
     margin-left: auto;
     /* In combination with "margin-right: auto" this will center the submit button */
     margin-right: auto;
     font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effect for submit button */
input[type=submit]:hover {
     background-color: aquamarine;
     /* Turns the background of the submit button aquamarine when the user hovers over it */
     color: brown;
     /* Turns the font brown when hovered over */
}

/* Reset button */
input[type=Reset] {
     background-color: rgb(242, 125, 125);
     /* Sets the background color of the submit button to black */
     color: black;
     /* Sets the font color of the Submit button to white */
     font-weight: bold;
     /* Makes the font of the submit button bold */
     padding: 12px 20px;
     /* Adds padding to the submit button */
     border: none;
     /* Removes the border from the submit button */
     border-radius: 4px;
     /* Gives the submit button the same rounded corners as the text boxes */
     cursor: pointer;
     /* Changes the cursor to pointer when over the submit button */
     display: inline-block;
     /* Allows the submit button to be centered */
     margin-left: auto;
     /* In combination with "margin-right: auto" this will center the submit button */
     margin-right: auto;
     font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effect for reset button */
input[type=reset]:hover {
     background-color: brown;
     /* Turns the background of the submit button brown when the user hovers over it */
     color: aquamarine;
     /* Turns the font aquamarine when hovered over */
}

/* The Close Button */
#close {
     color: #aaaaaa;
     float: right;
     font-size: 35px;
     font-weight: bold;
     margin-right: 10px;
     margin-top: 7px;
}

#close:hover,
#close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}

/* Form element */
form {
     border-radius: 5px;
     /* Rounds the corners of the contact form */
     background-color: #f2f2f2;
     padding: 20px;
     /* Adds padding to the contact form */
     font-family: "Trebuchet MS", Optima;
     height: 100%;
     width: 100%;
}

#contact {
     display: none;
     z-index: 1;  /* Sit on top */
     background-color: rgb(0, 0, 0); 
     background-color: rgba(0, 0, 0, 0.3);
     padding-top: 8vw; /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     position: fixed;
     
}

/* Modal Content */
#contactform {
     background-color: #fefefe;
     margin: auto;

     border: 1px solid #888;
     width: 80%;
     border-radius: 7px;
}

/* --- FOOTER --- */

footer {
     background-color:cornsilk ;
     display: block;
     padding: 1%;
}

footer p {
     margin-bottom: 0px;
          margin-top: 0px;
}


/*Media rules for paragraph font size for different screen sizes*/
@media screen and (max-width: 527px) {
     p {
          font-size: 2.50vw;
     }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
     p {
          font-size: 2.25vw;
     }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
     p {
          font-size: 2vw;
     }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
     p {
          font-size: 1.75vw;
     }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
     p {
          font-size: 1.5vw;
     }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
     p {
          font-size: 1.25vw;
     }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
     p {
          font-size: 1vw;
     }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
     p {
          font-size: 0.85vw;
     }
}

@media screen and (min-width: 2270px) {
     p {
          font-size: 0.75vw;
     }
}